<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.countuniverse.countearth.dao.OrbitMapper" >
  <resultMap id="BaseResultMap" type="com.countuniverse.countearth.model.Orbit" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="geometric_shape_id" property="geometricShapeId" jdbcType="CHAR" />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="diameter" property="diameter" jdbcType="INTEGER" />
    <result column="loc_id" property="locId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, nick_name, geometric_shape_id, period, diameter, loc_id, create_time, create_by, 
    update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orbit
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orbit
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.countuniverse.countearth.model.Orbit" >
    insert into orbit (id, name, nick_name, 
      geometric_shape_id, period, diameter, 
      loc_id, create_time, create_by, 
      update_time, update_by)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{geometricShapeId,jdbcType=CHAR}, #{period,jdbcType=INTEGER}, #{diameter,jdbcType=INTEGER}, 
      #{locId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=CHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.countuniverse.countearth.model.Orbit" >
    insert into orbit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="geometricShapeId != null" >
        geometric_shape_id,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="diameter != null" >
        diameter,
      </if>
      <if test="locId != null" >
        loc_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="geometricShapeId != null" >
        #{geometricShapeId,jdbcType=CHAR},
      </if>
      <if test="period != null" >
        #{period,jdbcType=INTEGER},
      </if>
      <if test="diameter != null" >
        #{diameter,jdbcType=INTEGER},
      </if>
      <if test="locId != null" >
        #{locId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.countuniverse.countearth.model.Orbit" >
    update orbit
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="geometricShapeId != null" >
        geometric_shape_id = #{geometricShapeId,jdbcType=CHAR},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="diameter != null" >
        diameter = #{diameter,jdbcType=INTEGER},
      </if>
      <if test="locId != null" >
        loc_id = #{locId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.countuniverse.countearth.model.Orbit" >
    update orbit
    set name = #{name,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      geometric_shape_id = #{geometricShapeId,jdbcType=CHAR},
      period = #{period,jdbcType=INTEGER},
      diameter = #{diameter,jdbcType=INTEGER},
      loc_id = #{locId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>